COMPOSER_AUTH={"github-oauth":{"github.com":"YOUR-TOKEN-HERE"}}
LOGENTRIES_KEY=

### Env. vars for testing:
TEST_GOOGLE_PWSTORE_CONFIG_applicationName=
TEST_GOOGLE_PWSTORE_CONFIG_delegatedAdminEmail=
TEST_GOOGLE_USER_EMAIL=

# Please provide ONE of the following.
#TEST_GOOGLE_PWSTORE_CONFIG_jsonAuthFilePath=
#TEST_GOOGLE_PWSTORE_CONFIG_jsonAuthConfigBase64=

# Optional. If not provided, a random secure password will be generated.
#TEST_GOOGLE_USER_NEW_PASSWORD=
